*{font-family: 'Roboto', sans-serif;}
h1{
    border: 3px solid blue;
    padding: 10px;
    margin: 20px;
    /** aplica la misma medida a top, botton, right y left*/
    color: black; font-weight: bold;
    text-align: center;
    
}

h2{
    border: 5px solid red;
    border-style: double;
    padding: 20px;
    margin-top: 5px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
    /** aplica diferente medida a top, botton, right y left*/
    color: blueviolet;
}


p{
    margin: 10px 100px 50px 20px;
    /** forma comprimida: arriba, derecha, abajo e izquierda (sentido horario)*/
    color: aqua;
}

#segundo_párrafo {color:black; font-style: oblique;}

.color_rosa {color: deeppink; font-size: 50px;}
/**
esto es un comentario en css
*/

